h1 {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.burger {
    margin: 0 auto;
    width: 350px;
    height: 200px;
    overflow-y: auto;
}

.topBun {
    width: 300px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 7px;
    margin-top: 5px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid black;
    background: #ffb83f;
}

.bacon {
    width: 300px;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 7px;
    border: 1px solid black;
    background: #db5d30;
}

.salad {
    width: 315px;
    height: 8px;
    margin: 0 auto;
    margin-bottom: 7px;
    border: 1px solid black;
    border-radius: 10px;
    background: #2b9923;
}

.cheese {
    width: 325px;
    height: 10px;
    margin: 0 auto;
    margin-bottom: 7px;
    border: 1px solid black;
    border-radius: 10px;
    background: #ffe735;
}

.meat {
    width: 300px;
    height: 15px;
    margin: 0 auto;
    margin-bottom: 7px;
    border: 1px solid black;
    border-radius: 10px;
    background: #4c2113;
}

.bottomBun {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid black;
    background: #ffb83f;
}
